$primary: #ffffff;
$primary-dark: #cccccc;

$secondary: #3b3f45;
$secondary-light: #546172;
$secondary-dark: #011120;

$color-100: #52489c;
$color-200: #4062bb;
$color-300: #59c3c3;
$color-400: #ebebeb;
$color-500: #f45b69;

$warning: #fa4141;

$highlight: #ffd700;