$logo-font: 'Roboto Mono', monospace;
$header-font: 'Roboto Mono', monospace;
$text-font: 'Montserrat', sans-serif;

$header1: 3.052rem;
$header2: 2.441rem;
$header3: 1.953rem;
$header4: 1.563rem;
$header5: 1.25rem;
$paragraph: 1rem;
$helperText: 0.8rem;
$copyrightText: 0.64rem;